
<body class="gradient-background">
    <%- include("./partials/header.ejs") %>
        <div class="contents">
            <p>Read every Writing ðŸ‘‡</p>
            <div id="item-list-container" class="container">
                <!-- ë™ì ìœ¼ë¡œ ìƒì„±ë˜ëŠ” ì•„ì´í…œ ë¦¬ìŠ¤íŠ¸ê°€ ì—¬ê¸°ì— ì¶”ê°€ë  ê²ƒìž…ë‹ˆë‹¤. -->
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>
</body>